[ ca ]
default_ca	= root_cbi

[ root_cbi ]
dir				= /opt/rootpki
certs			= $dir/root_cbi/certs
new_certs_dir	= $dir/root_cbi/newcerts
database		= $dir/root_cbi/index.txt
certificate		= $dir/root_cbi/root_cbi.pem
serial			= $dir/root_cbi/serial
private_key		= $dir/root_cbi/root_cbi.key
default_days	= 365
default_md		= sha1
preserve		= no
policy			= policy_anything
crl				= $dir/root_cbi/crl.pem

[ semestre2 ]
dir 			= /opt/rootpki/semestre2
certs			= $dir/certs
new_certs_dir	= $dir/newcerts
database		= $dir/index.txt
certificate		= $dir/semestre2.pem
serial			= $dir/serial
private_key		= $dir/semestre2.key
default_days	= 365
default_md		= sha1
preserve		= no
policy			= policy_match
crl				= $dir/crl.pem

[ policy_match ]
countryName				= match
stateOrProvinceName		= match
localityName			= match
organizationName		= match
organizationalUnitName	= optional
commonName				= supplied
emailAddress			= optional

[ policy_anything ]
countryName				= optional
stateOrProvinceName		= optional
localityName			= optional
organizationName		= optional
organizationalUnitName	= optional
commonName				= supplied
emailAddress			= optional

[ req ]
distinguished_name	= req_distinguished_name

[ req_distinguished_name ]
countryName			= Pays
countryName_default		= FR
stateOrProvinceName		= Departement
stateOrProvinceName_default	= Essonne
localityName			= Ville
localityName_default		= Juvisy
organizationName		= Organisation
organizationName_default	= Cantbreakit
commonName			= www.semestre2.fr
commonName_max			= 64
emailAddress			= semestre2@mail.fr
emailAddress_max		= 40

[ CA_ROOT ]
nsComment			= CA Racine
subjectKeyIdentifier		= hash
authorityKeyIdentifier		= keyid,issuer:always
basicConstraints		= critical,CA:TRUE,pathlen:1
keyUsage			= keyCertSign, cRLSign

[ CA_SSL ]
nsComment			= CA SSL
basicConstraints		= critical,CA:TRUE,pathlen:0
subjectKeyIdentifier		= hash
authorityKeyIdentifier		= keyid,issuer:always
issuerAltName			= issuer:copy
keyUsage			= keyCertSign, cRLSign
nsCertType			= sslCA

[ SERVER_RSA_SSL ]
nsComment			= Certificat Serveur SSL
subjectKeyIdentifier		= hash
authorityKeyIdentifier		= keyid,issuer:always
issuerAltName			= issuer:copy
subjectAltName			= DNS:www.webserver.com, DNS:www.webserver-bis.com
basicConstraints		= critical,CA:FALSE
keyUsage			= digitalSignature, nonRepudiation, keyEncipherment
nsCertType			= server
extendedKeyUsage		= serverAuth

[ CLIENT_RSA_SSL ]
nsComment			= Certificat Client SSL
subjectKeyIdentifier		= hash
authorityKeyIdentifier		= keyid,issuer:always
issuerAltName			= issuer:copy
subjectAltName			= critical,email:copy,email:user-bis@domain.com,email:user-ter@domain.com
basicConstraints		= critical,CA:FALSE
keyUsage			= digitalSignature, nonRepudiation
nsCertType			= client
extendedKeyUsage		= clientAuth
